*{
    margin: 0;
    padding: 0;

}
body{
display: flex;
justify-content: center;
align-items: center;
min-height:100vh;
background-color:#07252d;

}
.test{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.test ul{
    font-size: 5rem;
    color: white;
    cursor: pointer;
}
.test ul li{
    display: inline-block;
    list-style: none;
    text-shadow: 0 0 10px #03bcf4,
                 0 0 20px #1f65e7,
                 0 0 30px #1f65e7,
                 0 0 40px #47d4ff,
                 0 0 50px #47d4ff,
                 0 0 60px #47d4ff,
                 0 0 70px #47d4ff;
                 animation: ani 3s ease-in-out infinite;        
}
.test ul li:nth-child(1),
.test ul li:nth-child(6),
.test ul li:nth-child(9){
    color: white;
    
}
img{
   transform: translateY(-210px);
    width: 90px;
    height: 90px;
    
    animation: ani 3s ease-in-out infinite;

}
@keyframes ani{
    0%{
        filter:hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(3.142rad);
    }
}
article{
    font-size: 30px;
    transform: translateX(30px);

}
#canvas{
    height: 100%;
    width: 100%;

  }

